<link rel="stylesheet" href="stylesheet.css" type="text/css" charset="utf-8" />
<div class="center">
  <h2>LA StreetArt Gallery Presents</h2>
<h1 class="double">Writers Bench Connection</h1>


  <a href="users/new", class="btn btn-primary btn-lg gradient" >Register as a Client!</a>
  <a href="users/new", class="btn btn-primary btn-lg gradient" >Register as an Artist!</a>

</div>


