<h1> Welcome <%= @users.name %> </h1>

<div class="row">
      <section class="user_info">
      <h1>
<h3><a style="color:white;", href="http://www.cryptik.com/"> CYRPTIK WebSite</a></h3>

<mark>The Cryptik Movement is a public art campaign dedicated to helping
 humanity evolve towards greater awareness and understanding through the use of
 compelling, iconic imagery that demands both scrutiny and reverie.</mark>

<div class="image_tag">
          <%= image_tag "http://static1.1.sqspcdn.com/static/f/687444/23067818/1373299017867/street-artist-CYRPTIK-002.jpg?token=lPXtaOQ%2Bg2K1ZpLXVO2XakdNflo%3D" %>
          <%= image_tag "http://411posters.com/wp-content/uploads/2014/06/cryptik-the-jewel-in-the-lotus-29.5x29_.5-1xrun-04_.jpg" %>
</div>
<a href="#" class="btn btn-primary btn-lg active" role="button">Update/Delete</a>


      </h1>
    </section>
</div>

