<h1> Welcome <%= @users.name %> </h1>

<div class="row">
      <section class="user_info">
      <h1>


          <%= image_tag "http://www.rexmonkey.com/wp-content/uploads/2013/06/Cryptik-rexmonkeyblog-streetart.jpg" %>
          <%= image_tag "http://411posters.com/wp-content/uploads/2014/06/cryptik-the-jewel-in-the-lotus-29.5x29_.5-1xrun-04_.jpg" %>
          <%= image_tag "http://thesuiteworld.com/wp-content/uploads/2014/01/andywarhol-cryptik-streetart-losangeles-thesuiteworld.jpg" %>
      </h1>
    </section>
  </aside>
</div>

