
<%= link_to ('Home'), users_path  %>
<div class="container">

  <center><h2 style="color:white;">The Loft Exchange Projects/Artists Wanted</h2></center>
<center><%= image_tag "http://www.loftexchange.com/wp-content/uploads/2014/09/loft-exchange-grey-small.png" %></center>
  <center><a style="color:white;", href="http://www.theloftexchange.com/"> The Loft Exchange WebSite</a></center>
  <div class="row">
    <div class="col-md-4">
      <a href="http://www.toplacondos.com/condo/admin/image1.php?id=12514"  class="img-rounded">
        <p style="color:white;">The Loft Exchange #1</p>
        <img src="http://www.toplacondos.com/condo/admin/image1.php?id=12514"  style="width:350px;height:350px">
      </a>
    </div>
    <div class="col-md-4">
      <a href="http://loftsboston.com/gallery/Exchange_70/Exchange_70-06.jpg" class="img-rounded">
        <p style="color:white;">The Loft Exchange #2</p>
        <img src="http://loftsboston.com/gallery/Exchange_70/Exchange_70-06.jpg" style="width:350px;height:350px">
      </a>
    </div>
    <div class="col-md-4">
      <a href="http://www.robertpaul.com/blog/files/2015/06/Telephone-Exchange-Fireplace.jpg" class="img-rounded">
        <p style="color:white;">The Loft Exchange #3</p>
        <img src="http://www.robertpaul.com/blog/files/2015/06/Telephone-Exchange-Fireplace.jpg" style="width:350px;height:350px">
      </a>
    </div>

<center><h2 style="color:white;">The Loft Living Projects/Artists Wanted</h2></center>
<center><%= image_tag "http://clientlogos.idxco.com/noPhoto_4803" %></center>
<center><a style="color:white;", href="http://www.loftlivingla.com/"> Loft Living Los Angeles WebSite</a></center>
    <div class="col-md-4">
      <a href="http://pauljohnston.com/wp-content/files_mf/006_436_wellington_w_603.jpg" class="img-rounded">
        <p style="color:white;">Loft Living LA #1</p>
        <img src="http://pauljohnston.com/wp-content/files_mf/006_436_wellington_w_603.jpg" style="width:350px;height:350px">
      </a>
    </div>
<div class="col-md-4">
      <a href="https://a0.muscache.com/im/pictures/63028552/59e0c07a_original.jpg?aki_policy=x_large" class="img-rounded">
        <p style="color:white;">Loft Living LA #2</p>
        <img src="https://a0.muscache.com/im/pictures/63028552/59e0c07a_original.jpg?aki_policy=x_large" style="width:350px;height:350px">
      </a>
    </div><div class="col-md-4">
      <a href="http://cdn.homedit.com/wp-content/uploads/2014/06/exposed-bricks-loft-style-leather-couch.jpg" class="img-rounded">
        <p style="color:white;">Loft Living LA #3</p>
        <img src="http://cdn.homedit.com/wp-content/uploads/2014/06/exposed-bricks-loft-style-leather-couch.jpg" style="width:350px;height:350px">
      </a>
    </div>

<center><h2 style="color:white;">Misc.Projects/Artists Wanted</h2></center>

    <div class="col-md-4">
      <a href="http://static1.squarespace.com/static/52d564e0e4b03a2f9585c411/52d5c2e8e4b00cdc644730cb/5429d9fde4b0f4220e80ba5b/1412028926671/ashop-a'shop-cote-des-neiges-dre-ose-zek-street-art-mural-graffiti-cdn-snow-globe-web.jpg?format=1000w" class="img-rounded">
        <p style="color:white;">WHOLE Building #1</p>
        <img src="http://static1.squarespace.com/static/52d564e0e4b03a2f9585c411/52d5c2e8e4b00cdc644730cb/5429d9fde4b0f4220e80ba5b/1412028926671/ashop-a'shop-cote-des-neiges-dre-ose-zek-street-art-mural-graffiti-cdn-snow-globe-web.jpg?format=1000w" style="width:350px;height:350px">
      </a>
    </div>
<div class="col-md-4">
      <a href="http://static1.squarespace.com/static/52d564e0e4b03a2f9585c411/52d5c2e8e4b00cdc644730cb/5425de6ee4b0cdc2904b93f5/1411767924526/Ashop-a'shop-mural-graffiti-graff-truck-expo-quebec-zone-art-urbain-street-art-olivier-bonnard-k6a-mtl-zoo-Bonar-Monke.jpg?format=1000w" class="img-rounded">
        <p style="color:white;">Truck trailer repaint #2</p>
        <img src="http://static1.squarespace.com/static/52d564e0e4b03a2f9585c411/52d5c2e8e4b00cdc644730cb/5425de6ee4b0cdc2904b93f5/1411767924526/Ashop-a'shop-mural-graffiti-graff-truck-expo-quebec-zone-art-urbain-street-art-olivier-bonnard-k6a-mtl-zoo-Bonar-Monke.jpg?format=1000w" style="width:350px;height:350px">
      </a>
    </div><div class="col-md-4">
      <a href="http://mocosubmit.com/wp-content/uploads/2014/07/0002_1418-0050_M.jpg" class="img-rounded">
        <p style="color:white;">POP up Shop needs WallArt #3</p>
        <img src="http://mocosubmit.com/wp-content/uploads/2014/07/0002_1418-0050_M.jpg" style="width:350px;height:350px">
      </a>
    </div>
  </div>
</div>
