.success {
    background-color: darkseagreen;

}

.error {
    background-color: rosybrown;
}

body {
    background-color: #280;
}

h1 {
    font-size: 80px;
    font-family: helvetica;
    text-align: center;
}
h2 {
    font-size: 30px;
    text-align: center;


}
